* {
    margin: 0;
}


.navbar {
    height: 50px;
    background-color: #162040;
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 0;
    padding: 0;

}

#refocusH2 {
    font-size: 30px;
    font-family: sans-serif;
}

#refocusIMG {
    height: 100px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    font-family: sans-serif;
    display: flex;
    align-items: center;
}

p {
    margin-left: 27px;
}

@media only screen and (max-width: 767px) {

    .navbar {
        padding: 0px 30px;
    }

    #refocusIMG {
        visibility: hidden;
    }

    .menu {
        content-visibility: hidden;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {

    * {
        margin: 10px 0px;
    }

    .navbar {
        padding: 0px 60px;
    }

    #refocusIMG {
        visibility: visible;
    }

    #refocusH2 {
        content-visibility: hidden;
    }

}


@media only screen and (min-width: 1024px) {

    .navbar {
        padding: 0px 60px;
    }

    #refocusIMG {
        content-visibility: hidden;
    }

    #refocusH2 {
        visibility: visible;
    }
}