form {
    display: grid;
    justify-content: center;
}

.required, [id^="error-"] {
    color: red;
}


.btnSubmit {
    display: flex;
    justify-content: right;
    padding-top: 50px;
}

.form-control {
    display: flex;
    justify-content: space-between;
}

[id^="error-"], .mname {
    padding-top: 10px;
}

select {
    width: 52%;
}

input[type=text], input[type=date] {
    width: 50%;
}