$c-orange: orange;
$c-red: red;
$c-green: green;
$c-blue: blue;

.orange {
  background-color: $c-orange;
}

.red {
  background-color: $c-red;
}

.green {
  background-color: $c-green;
}

.blue {
  background-color: $c-blue;
}
